{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Royal Arc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'RoyalSite/css/base.css' %}"> 
    <link rel="shortcut icon" href="{% static 'RoyalSite/images/royal_logo_link.png' %}">
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar">
        <img id="logo" src="{% static 'RoyalSite/images/logo.png' %}">
        <ul>
          <li><a href="{% url 'RoyalPages:home' %}">Home</a></li>
          <li><a href="{% url 'RoyalPages:posts' %}">Blog Posts</a></li>
          <li><a href="{% url 'RoyalPages:about' %}">About Us</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Testing</a></li>
        </ul>
      </nav>
      {% block intro %}
      {% endblock intro %}
    </div>
    {% block body %}
    {% endblock body %}
  </body>
</html>