{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Royal Arc</title>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'RoyalSite/css/base.css' %}"> 
    <link rel="shortcut icon" href="{% static 'RoyalSite/images/royal_logo_link.png' %}">
    {% if home %}
      <link rel="stylesheet" type="text/css" href="{% static 'RoyalSite/css/home.css' %}">
      <script src="{% static 'RoyalSite/js/home.js' %}"></script>
    {% elif posts %}
      <link rel="stylesheet" type="text/css" href="{% static 'RoyalSite/css/posts.css' %}">
    {% elif abouts %}
      <link rel="stylesheet" type="text/css" href="{% static 'RoyalSite/css/about.css' %}">
    {% elif gallery %}
      <link rel="stylesheet" type="text/css" href="{% static 'RoyalSite/css/gallery.css' %}">
    {% elif post %}
      <link rel='stylesheet' type="text/css" href="{% static 'RoyalSite/css/post.css' %}">
    {% endif %}
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar">
        <img id="logo" src="{% static 'RoyalSite/images/royal.png' %}">
        <ul>
          <li><a class="home" href="{% url 'RoyalPages:home' %}">Home</a></li>
          <li><a class="posts" href="{% url 'RoyalPages:posts' %}">Blog Posts</a></li>
          <li><a class="about" href="{% url 'RoyalPages:about' %}">About Us</a></li>
          <li><a class="Gallery" href="{% url 'RoyalPages:gallery' %}">Gallery</a></li>
        </ul>
      </nav>
      {% block intro %}
      {% endblock intro %}
    </div>
    {% block body %}
    {% endblock body %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>