{% extends 'RoyalPages/base.html' %}

{% block body %}
<h1>ROYAL ARC CLEANING SERVICES</h1>
<i>Cleaning Service</i>
<p class="content">
  Managing a number of different properties can be a real balancing act. 
  You want to offer the best experience possible to your client or building, avoid unexpected problems, and save money. 
  We truly believe our lovely clients have reputations for quality service and well maintained buildings. 
  The business case for clean and sanitary buildings is obvious, get in touch with us today for a free quote.
</p>
<i>Our Mission</i>
<p class="content">
  We truly understand that our cherished customers want a hassle free experience and therefore Royal ARC Cleaning Services shall provide strong management and direction for each project to ensure services are delivered to customers in smooth and flexible manner.
</p>
{% endblock body %}