{% extends 'RoyalPages/base.html' %}

{% block body %}
<div id="home">
  <div id="row_1">
    <div class="content">
      <i>Cleaning Service</i>
      <p>
        Managing a number of different properties can be a real balancing act. 
        You want to offer the best experience possible to your client or building, avoid unexpected problems, and save money. 
        We truly believe our lovely clients have reputations for quality service and well maintained buildings. 
        The business case for clean and sanitary buildings is obvious, <b>get in touch with us today for a free quote.</b>
      </p>
    </div>
    <div id="center-piece" class="content">
      <i></i>
    </div>
    <div class="content">
      <i>Our Vision</i>
      <p>
        Royal ARC Cleaning Services seeks to professionally clean and service each of our customer’s facilities and buildings to the best of our abilities and in the highest standard possible so as to be in a better and respected position across African continent.
      </p>
    </div>
  </div>
  <div id="row_2">
    <div class="content">
      <i>Who are we?</i>
      <p>
        We are professional cleaning service based in Accra but providing services to all parts of Ghana. Royal ARC Cleaning Service specializes in cleaning offices, apartments, post-construction cleaning, etc. and servicing spaces of any size and capacity. Since our founding, we’ve worked with numerous clients throughout the area. We complete projects efficiently and on schedule, and go above and beyond to form lasting relationships with our clients.
      </p>
    </div>
    <div class="content">
      <i>Why choose us?</i>
      <p>
        We have the experience and skills necessary to tackle just about every type of job that comes our way. With Royal ARC Cleaning Services, clients know exactly what to expect - professionalism, efficiency and exceptional results.
      </p>
    </div>
  </div>
  <div id="row_3">
    <div class="content">
      <i>Branding Process</i>
      <p>
        Since its founding, Royal ARC Cleaning Services has been one of the most trusted names in the industry. Hire us for this service and learn how we cater to the needs of each client, ensuring the results you need and deserve.
      </p>
    </div>
    <div class="content">
      <i>The Royal Guarantee</i>
      <p>
        Royal ARC Cleaning Services is committed to getting the job done, especially when it comes to this service. You can count on us to be professional, timely, efficient and make sure you’re satisfied every step of the way.
      </p>
    </div>
    <div class="content">
      <i>Our Mission</i>
      <p>
        We truly understand that our cherished customers want a hassle free experience and therefore Royal ARC Cleaning Services shall provide strong management and direction for each project to ensure services are delivered to customers in smooth and flexible manner.
      </p>
    </div>
  </div>
</div>
{% endblock body %}