{% extends 'RoyalPages/base.html' %}
{% load static %}

{% block intro %}
  <div class="content">
    <!-- <h1>Royal ARC Cleaning Services</h1> -->
    <i id='italic'>Leave the dirty work to us!</i>
    <p id="shows">
    </p>
    <button><ion-icon name="call"></ion-icon><a href="tel:+233555506625">Contact Us</a></button>
  </div>
  <ul id='info'>

  </ul>
  <script>
    var data = '{{abouts_qs}}'
    var rdata = JSON.parse(data.replace(/&quot;/ig, '"'))
  </script>
  <script src="{% static 'RoyalSite/js/home.js' %}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock intro %}
