{% extends 'RoyalPages/base.html' %}
{% load static %}

{% block intro %}
  <section>
    <h1>Blog Posts</h1>
  </section>
{% endblock intro %}

{% block body %}
  <ul>
    {% for post in posts %}
      <div class="post">
        <div class="post-info">
          <a href="{% url 'RoyalPages:blog' post.title %}">{{ post.title }}</a>&middot;
          <p> by Author | {{ post.date_added|date:'M d, Y H:i' }}</p>
        </div>
        <div class="post-text">
        <p>{{ post.text|linebreaks }}</p>
        <button><a href="{% url 'RoyalPages:blog' post.title %}">Read</a></button>
      </div>
    {% endfor %}
  </ul>
{% endblock body %}