@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.navbar {
    height: max-content;
    width: 100%;
    background-color: rgba(184, 77, 226, 0.747);
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    /* overflow-x:visible; */
    /* border-radius: 2rem 0; */
}

#logo {
    height: 100%;
    width: 7rem;
    margin-left: 0px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.747);
    transition: all 0.5s ease-in-out;
}

#logo:hover{
    transform: scale(1.1) rotate(30deg);
}

.desktop{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: center;
} 

.desktop > li {
    list-style: none;
    margin: 0 2rem;
}

.desktop > li > a {
    text-decoration: none; 
    color: white;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 3px purple solid;
    border-bottom-width: 0;
    transition: border-bottom-width  0.4s linear;
} 

.desktop > li > a::before{
    content: '';
    height: 0.15rem;
    width: 100%;
    display: block;
    background-color: rgba(173, 175, 45);
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.desktop > li > a:hover::before{
    transform: scale(1);
}

.desktop > li > a:hover {
    border-bottom-width: inherit;
    color: rgba(251, 255, 0, 0.6);
    width: 100%;

}

/* Body */
body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
}

section {
    background-color: rgb(52, 52, 62);
    display: flex;
    align-items: flex-end;
    justify-self: flex-start;
}

section > h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    padding: 2rem;
}

section > img {
    flex: 0;
    float: right;
    width: 190px;
    height: 180px;
}

.bars{
    display: none;
}

.xx{
    display: none;
}

.mobile{
    display: none;
}

.mobile > li {
    list-style: none;
    margin: 0 2rem;
}

.mobile > li > a {
    text-decoration: none; 
    color: white;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 3px purple solid;
    border-bottom-width: 0;
    transition: border-bottom-width  0.4s linear;
} 

.mobile > li > a::before{
    content: '';
    height: 0.15rem;
    width: 100%;
    display: block;
    background-color: rgba(173, 175, 45);
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.mobile > li > a:hover::before{
    transform: scale(1);
}

.mobile > li > a:hover {
    border-bottom-width: inherit;
    color: rgba(251, 255, 0, 0.6);
    width: 100%;

}

/* Phones */
@media screen and (max-width:600px){
    /* Header */

    .navbar {
        height:17vw;
    }

    .desktop > li{
        display: none;
    }

    /* .navbar > ul > li > a{
        font-size: 1rem;
        font-weight: normal;
    } */

    /* .navbar > ul > li:first-child{
        margin-left: 0px;
    }

    .navbar > ul > li:last-child{
        margin-right: 3px;
    } */

    /* Body */
    h1 {
        font-size: 32px;
    }

    section h1 {
        font-size: 22;
    }

    h2 {
        font-size: 18;
    }

    #logo {
        width: 18vw;
        min-width: 50px;
    }

    section{
        height: 25vh;
    }

    .bars{
        display: block;
        order: 3;
        margin: 1rem 3rem;
    }

    .bar{
        margin: 0.5rem;
        height: 0.3rem;
        width: 3rem;
        background: purple;
        cursor: pointer;
    }
    

    .bar:hover{
        background: rgb(197, 109, 197);
    }

    .mobile{
        position: absolute;
        right: 0;
        height: max-content;
        left: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.5rem 1rem 3rem 1rem;
        background: rgba(0, 0, 0, 0.7);
    }
    
    .mobile > li{
        align-self: flex-start;
        font-size: 3rem;
    }
    
    .mobile > li > a{
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    .mobile > li > a{
        margin: 2rem;
    }
    
    .mobile > h1{
        color: rgb(216, 122, 122);
        position: absolute;
        display: block;
        right: 20%;
        top: 2rem;
        cursor: pointer;
    }
}