@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.navbar {
    height: max-content;
    width: 100%;
    background-color: #CA80DC;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}

#logo {
    height: 100%;
    width: 7rem;
    margin-left: 0px;
    border: 3px solid rgb(48, 48, 48);
    background-color: rgba(255, 255, 255, 0.747);
    transition: all 0.5s ease-in-out;
}

#logo:hover{
    cursor: pointer;
}

.desktop{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: center;
} 

.desktop > li {
    list-style: none;
    margin: 0 2rem;
}

.desktop > li > a {
    text-decoration: none; 
    color: white;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 3px purple solid;
    border-bottom-width: 0;
    transition: border-bottom-width  0.4s linear;
} 

.desktop > li > a::before{
    content: '';
    height: 0.15rem;
    width: 100%;
    display: block;
    background-color: rgba(173, 175, 45);
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.desktop > li > a:hover::before{
    transform: scale(1);
}

.desktop > li > a:hover {
    border-bottom-width: inherit;
    color: #CB9F85;
    width: 100%;

}

/* Body */
body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 8rem;
}

section > img {
    flex: 0;
    float: right;
    width: 190px;
    height: 180px;
}

.mobile{
    display: none;
    
}

.mobile > li {
    list-style: none;
    margin: 0 2rem;
    padding: 0;
}

.mobile > li > a {
    text-decoration: none; 
    color: black;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 3px purple solid;
    border-bottom-width: 0;
    transition: border-bottom-width  0.4s linear;
} 

.mobile > li > a::before{
    content: '';
    display: none;
}

.mobile > li > a:hover {
    border-bottom-width: inherit;
    color: #CB9F85;
    width: 100%;

}

.toggle{
    visibility: hidden;
    color: white;
}
/* Phones */
@media screen and (max-width:600px){
    /* Header */

    .navbar {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #070707;
    }

    .desktop > li{
        display: none;
    }

    
    /* Body */
    h1 {
        font-size: 32px;
    }

    section h1 {
        font-size: 22;
        color: black;
        margin-top: 3rem;
    }

    h2 {
        font-size: 18;
    }

    #logo {
        width: 20vw;
        min-width: 50px;
        outline: none;
        border: none;
    }

    section{
        height: 25vh;
    }

    #wrapper .navbar .toggle {
        visibility: visible;
        justify-self: flex-end;
        font-size: 52px;
        color:white;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        right: 0;
        align-self: center;
        margin-right: 2vw;
        color: black;
      }

      .toggle{
        color: #A63698 !important;
      }

    .mobile{
        position: absolute;
        top: 4.5rem;
        right: 0;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: rgba(255, 255, 255, 0.85);
        width: 70vw;
    }
    
    .mobile > li{
        align-self: center;
        font-size: 3rem;
        padding: 0;
    }
    
    .mobile > li > a{
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    .mobile > li > a{
        font-size: medium;
    }
    
}


/* Fonts */
p {
    font-family:"Arial Narrow", Arial;
}

h1, h2, h3 {
    font-family: Geneva;
}