{% extends 'RoyalPages/base.html' %}
{% load static %}

{% block intro %}
<section>
  <h1>About Us</h1>
</section>
{% endblock intro %}
{% block body %}
<!-- <img id="background" src="{% static 'RoyalSite/images/architecture.jpg' %}"> -->
<div class="content">
  <div id="left">
    <ul id="left-list">

    </ul>
  </div>
  <div id="right">
    <ul id="right-list">

    </ul>
  </div>
</div>
<script>
  const data = '{{abouts_qs}}'
  const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
  length = Math.ceil(rdata.length/2)
  var i = 0;
  
  rdata.forEach((e, index) => {if (index < length) {
    const title = document.createElement('b')
    title.innerHTML = e.fields.title
    const text = document.createElement('p')
    text.innerHTML = e.fields.text
    document.getElementById('left-list').append(title)
    document.getElementById('left-list').append(text)
  }
  else {
    const title = document.createElement('b')
    title.innerHTML = e.fields.title
    const text = document.createElement('p')
    text.innerHTML = e.fields.text
    document.getElementById('right-list').append(title)
    document.getElementById('right-list').append(text)
  };
  })
  
</script>
{% endblock body %}