{% extends 'RoyalPages/base.html' %}
{% load static %}

{% block intro %}
<section>
  <h1>Gallery</h1>
</section>
{% endblock intro %}
{% block body %}
  <div class="fullImage">
    <img class="fImg" src="/RoyalSite/images/RoyalSite/static/RoyalSite/images/gallery/WhatsApp_Image_2021-06-19_at_21.06.23_1.jpeg" placeholder="image not found">
    <span id='close' onclick="closeFullImg()">X</span>
    <div class="buttons">
      <div><ion-icon name="chevron-back-outline" onclick="prev()" ></ion-icon><p class="tooltip">previous</p></div>
      <div><ion-icon id='slide' name="caret-forward-circle-outline" onclick="slide()"></ion-icon><p id='slide-info' class="tooltip">slideshow</p></div>
      <div><ion-icon name="chevron-forward-outline" onclick="next()"></ion-icon><p class="tooltip">next</p></div>
    </div>
  </div>
  <div class="gallery" id='gala'>
    {% for image in gallery %}
    <div class="img">
      <img id="{{image.pk}}" class="cImg" src='{{image.image.url}}' placeholder="image not found" onclick="openFullImg(this.src, this.id)">
      {% if image.title %}
        <p class="tooltip">{{image.title.title}}</p>
      {% endif %}
    </div>
    {% empty %}
      <p>No Images have been posted to the gallery yet...</p>
    {% endfor %}
  </div>
  <script src="{% static 'RoyalSite/js/gallery.js' %}"></script>
{% endblock body %}

