{% extends 'RoyalPages/base.html' %}
{% load static %}

{% block intro %}
  <section>
    <h1>Blog Posts</h1>
  </section>
{% endblock intro %}

{% block body %}
  <div class="main">
    <div class="post-list">
      <h2>Recent Posts</h2>
      <hr/>
      <ul>
        {% for post in posts %}
          <div class="post">
            <div class="post-info">
              <a href="{% url 'RoyalPages:blog' post.pk %}">{{ post.title }}</a>&middot;
              <p> by {{ post.owner }} | {{ post.date_added|date:'M d, Y H:i' }}.</p>
            </div>
            <div class="post-text">
            <p>{{ post.text|linebreaks }}</p>
            <div class="buttons">
              <div class="views">Views: {{post.views}}</div>
              <button><a href="{% url 'RoyalPages:blog' post.pk %}">Read</a></button>
            </div>
          </div>
        {% endfor %}
      </ul>
    </div>
    <div class="search-sec">
      <form id="search-form" autocomplete="off">
        {% csrf_token %}
        <input type="text" id="search-input" class="search" placeholder="Search Posts">
      </form>
      <div id='search-items'>
        <p id='list-title'>Popular Posts</p>
        <ul id="list">
        {% for item in popular %}
          <li><a href="{% url 'RoyalPages:blog' item.pk %}">{{ item.title }}</a><br /> <i class="list-item">{{ item.text }}</i></li>
        {% empty %}
          No posts...
        {% endfor %}      
        </ul>
        </div>
    </div>
  </div>
  <script>
  const ata = '{{ popular_qs }}'
  console.log(ata)
  </script>
  <script src="{% static 'RoyalSite/js/jquery.js' %}"></script>
  <script src="{% static 'RoyalSite/js/posts.js' %}"></script>
{% endblock body %}

