{% extends 'RoyalPages/base.html' %}
{% load static %}

{% block intro %}
    <section>
        <h1>Blog Post</h1>
    </section>
{% endblock intro %}


{% block body %}
<img id="background" src="{% static 'RoyalSite/images/glass.jpg' %}">

<div id="content">
  <div id="title">
    <h3>Topic: {{ post.title }} / by Hassan Iffid</h3>
  </div>

  <div id="page">
    <p> {{ post.text|linebreaks }}</p>
    <button><a href="{% url 'RoyalPages:posts' %}">Return</a></button>
  </div>
  <p id="comments">Comments</p>
  <div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="ee76089d-c370-4c7c-82d4-65e2d9e0ae7e"
  data-page-id="{{ post.pk }}"
  data-page-url="{% url 'RoyalPages:blog' post.pk %}"
  data-page-title="{{ post.title }}"></div>

</div>

<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
{% endblock body %}
